# AmBNC M6 multi-network example

[NETWORK libera]
HOST=irc.libera.chat
PORT=6667
NICK=AmBNC
USER=ambnc
LISTEN_PORT=16667
BACKLOG_LINES=32

[NETWORK oftc]
HOST=irc.oftc.net
PORT=6667
NICK=AmBNC2
USER=ambnc
LISTEN_PORT=16668
BACKLOG_LINES=16
